body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* O corpo vai ocupar pelo menos 100% da altura da viewport */
    margin: 0;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2D407C;
    z-index: 1000;
    display: flex;
   
  }
  
  .voltar {
    display: flex;
    font-family: 'Chela One', cursive;
    align-items: center; /* Garante que o logo e o texto estejam alinhados verticalmente */
  }
  .voltar img {
    width: 40px; /* Tamanho da imagem do logo */
    height: auto;
    margin-left: 0px;
  }
  .barraPesquisa-p {
    position: relative; /* Para que o ícone possa ser posicionado dentro do campo */
    width: 500px; /* Largura da barra de pesquisa */
    display: flex;
    align-items: center;
    margin-right: 30%;
    margin-top: 10px;
  }
  
  .barraPesquisa-p input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Espaço extra para o ícone */
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 16px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    top: -4px; 
  }
  
  .search-icon i {
    font-size: 16px;
    color: #666;
  }
  .perfil-container{
    width: 60%;
    height: 500px;
    border-radius: 20px;
    border: 2px solid rgb(109, 108, 108);
    margin-top: 6%;
    margin-left: 20%;
  }
  .perfil{
    margin-top: 40px;
  }
  .conteudo-perfil{
    display: flex;
    margin-top: 10%;
  }
  .lista{
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .lista li {
    font-size: 20px; /* Aumenta o tamanho da fonte */
    margin-bottom: 15px; /* Adiciona espaçamento entre os itens da lista */
  }
.loading-gif {
  width: 100px;
  height: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.avatar-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.avatar-option {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  margin-top: 20px;
}
.perfil img {
  width: 150px; /* ou o tamanho desejado */
  height: 150px;
  border-radius: 50%; /* Garante que seja circular */
  object-fit: cover; /* Ajusta a imagem ao tamanho sem distorcer */
  border: 2px solid #ccc; /* Pode adicionar borda */
}

.camera-icon {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

